<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/javascript/xedit.js" type="text/javascript"></script>
<script src="/javascript/addNote.js" type="text/javascript"></script>
<script src="/javascript/setFlags.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<div class="row">
  <div class="col-xs-12">
    <h2>User's profile</h2>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Biographical information</h4>
    <dl class="row">
      <dt class="col-xs-4">Email</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_email" data-type="email"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Email">
          {{ user.contact_info.user_email }}
        </a>

      <dt class="col-xs-4">First name</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_name.user_first" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="First name">
          {{ user.contact_info.user_name.user_first }}
        </a>
      </dd>

      <dt class="col-xs-4">Middle name</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_name.user_middle" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Middle name">
          {{ user.contact_info.user_name.user_middle }}
        </a>
      </dd>

      <dt class="col-xs-4">Last name</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_name.user_last" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Last name">
          {{ user.contact_info.user_name.user_last }}
        </a>
      </dd>

      <dt class="col-xs-4">Preferred name</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_name.user_preferred" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Preferred name">
          {{ user.contact_info.user_name.user_preferred }}
        </a>
      </dd>
    </dl>

    <dl class="row">
      <dt class="col-xs-4">Birthday</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_dob.dob_date" data-type="date"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Birthday">
          {{ user.contact_info.user_dob.dob_date }}
        </a>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Contact information</h4>
    <dl class="row">
      <dt class="col-xs-4">Address 1</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_address.u_line1" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Address 1">
          {{ user.contact_info.user_address.u_line1 }}
        </a>
      </dd>

      <dt class="col-xs-4">Address 2</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_address.u_line2" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Address 2">
          {{ user.contact_info.user_address.u_line2 }}
        </a>
      </dd>

      <dt class="col-xs-4">City</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_address.u_city" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="City">
          {{ user.contact_info.user_address.u_city }}
        </a>
      </dd>

      <dt class="col-xs-4">State</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_address.u_state" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="State">
          {{ user.contact_info.user_address.u_state }}
        </a>
      </dd>

      <dt class="col-xs-4">Zip</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_address.u_zip" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Zip">
          {{ user.contact_info.user_address.u_zip }}
        </a>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Emergency Contact</h4>
    <dl class="row">
      <dt class="col-xs-4">Emergency Contact Name</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_emergency.uec_name" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Emergency Contact Name">
          {{ user.contact_info.user_emergency.uec_name }}
        </a>
      </dd>

      <dt class="col-xs-4">Emergency Contact Relationship</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_emergency.uec_relationship" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Emergency Contact Relationship">
          {{ user.contact_info.user_emergency.uec_relationship }}
        </a>
      </dd>

      <dt class="col-xs-4">Emergency Contact Phone</dt>
      <dd class="col-xs-8">
        <a href="#" id="contact_info.user_emergency.uec_phone" data-type="text"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Emergency Contact Phone">
          {{ user.contact_info.user_emergency.uec_phone }}
        </a>
      </dd>


    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Volunteer Information</h4>
    <dl class="row">
      <dt class="col-xs-4">Status</dt>
      <dd class="col-xs-8">
        <a href="#" id="user_status" data-type="select"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="User status">
        </a>
      </dd>

      <dt class="col-xs-4">Roles</dt>
      <dd class="col-xs-8">
        
        <select class="selectpicker showtick" id="user_roles" title="{{user.user_roles}}" multiple>
          <option value="VET">Vetting Agent</option>
          <option value="SITE">Site Assement</option>
          <option value="PROJECT_MANAGMENT">Project Managment</option>
          <option value="ADMIN">Admin</option>          
        </select>
        {{!-- <a href="#" id="user_roles" data-type="select2"
        data-pk="{{ user._id }}"> --}}

</a>
      </dd>

      <dt class="col-xs-4">Activity</dt>
      <dd class="col-xs-8">
        {{ user.user_activity }}
      </dd>

      <dt class="col-xs-4">Waiver signed</dt>
      <dd class="col-xs-8">
        <a href="#" id="user_documents.waiver_signed" data-type="select"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Waiver signed">
        </a>
      </dd>

      <dt class="col-xs-4">Background check completed</dt>
      <dd class="col-xs-8">
        <a href="#" id="user_documents.background_check" data-type="select"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="Background check">
        </a>
      </dd>

      <dt class="col-xs-4">ID badge assigned</dt>
      <dd class="col-xs-8">
        <a href="#" id="user_documents.ID_badge" data-type="select"
        data-pk="{{ user._id }}"
        data-url="/user/editUser" data-title="ID Badge">
        </a>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Change user password</h4>
    <div id="changePasswordButtonDiv">
      <button id="changePasswordButton" class="btn btn-info btn-lg">Change password</button>
    </div>
    <div id="changePasswordForm" style="display:none;">

      <label class="control-label">New password</label>
      <input type="password" class="form-control" name="newPassword" />


      <label class="control-label">Confirm new password</label>
      <input type="password" class="form-control" name="newPasswordConfirm" />

      <br />

      <button id="changePasswordSaveButton" class="btn btn-success">Save</button>
      <button id="changePasswordCancelButton" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>

<script>
  // X-Editable
  $.fn.editable.defaults.mode = 'inline'

  var fields = [
    'contact_info.user_name.user_first',
    'contact_info.user_name.user_middle',
    'contact_info.user_name.user_last',
    'contact_info.user_name.user_preferred',
    'contact_info.user_dob.dob_date',
    'contact_info.user_address.u_line1',
    'contact_info.user_address.u_line2',
    'contact_info.user_address.u_city',
    'contact_info.user_address.u_state',
    'contact_info.user_address.u_zip',
    'contact_info.user_emergency.uec_name',
    'contact_info.user_emergency.uec_relationship',
    'contact_info.user_emergency.uec_phone',
    'contact_info.user_email'
  ]


  var booleanFields = [
    'user_documents.waiver_signed',
    'user_documents.background_check',
    'user_documents.ID_badge',
  ]

  function changePassword(e) {
    var inputs = $('input', '#changePasswordForm')
    var passwordChange = {
      newPassword: inputs[0].value,
      newPasswordConfirm: inputs[1].value
    }

    if (passwordChange.newPassword !== passwordChange.newPasswordConfirm) {
      // TODO: handle this better
      alert('Your new passwords don\'t match')
      return
    }

    // TODO: Send password change request
    $.post('/user/editUser/', {
      pk: '{{ user._id }}',
	  name: 'password',
	  value: passwordChange.newPassword
    }).done(function(data) {
      alert('User\'s password has been changed')
      $('#changePasswordButtonDiv').css('display', 'inline-block')
      $('#changePasswordForm').css('display', 'none')
    }).fail(function(data) {
      alert('User\'s password change could not be saved')
      console.error(data)
    })
  }

  $(document).ready(function() {
    // X-editable
    fields.forEach(function(f) { $('[id="' + f + '"]').editable() })

    $("#user_status").editable({
      value: "{{ user.user_status }}",
      source: [
        { value: 'ACTIVE', text: 'Active' },
        { value: 'DISABLED', text: 'Disabled' }
      ]
    })

$('#user_roles').selectpicker();


$('#user_roles option').each(function(f) {
  var roles = '{{user.user_roles}}';
 
  if(roles.includes($(this).val()))
  {
    $(this).attr('selected', 'selected');
    
  }
//$('#user_roles').val(roles);
  $('#user_roles').selectpicker('refresh');
  
})

$('#user_roles').on('change', function(e)
{
  var vals = [];
  var $sel = $(this).find('option:selected');
  console.log($sel);
    for(var i=0; i < $sel.length; i++) {
      vals[i]= $sel.eq(i).val();
  }
    
  console.log(vals);
 $.post('/user/editUserRoles/', {
      Id: '{{ user._id }}',
	  user_roles: JSON.stringify(vals)
 });
	  
});

$('.bootstrap-select').click(function(e)
{
  $(this).addClass('open');
  //console.log('hit');
  e.stopPropagation();
});
    /* $("#user_roles").editable({
      type: 'select2',
      select2: {
        multiple: true,
        placeholder: 'No Roles'
      },      
      source: [      
        { id: 'VET', text: 'Vetting Agent'},
        { id: 'SITE', text: 'Site Agent'},
         { id: 'PROJECT_MANAGER', text: 'Project Manager'},
         { id: 'ADMIN', text: 'Admin'}
      ]
      
    }) */

    $("[id='user_documents.waiver_signed']").editable({
      value: {{ user.user_documents.waiver_signed }},
      source: [
        { value: true, text: 'True'},
        { value: false, text: 'False'},
      ]
    })

    $("[id='user_documents.background_check']").editable({
      value: {{ user.user_documents.background_check }},
      source: [
        { value: true, text: 'True'},
        { value: false, text: 'False'},
      ]
    })

    $("[id='user_documents.ID_badge']").editable({
      value: {{ user.user_documents.ID_badge }},
      source: [
        { value: true, text: 'True'},
        { value: false, text: 'False'},
      ]
    })






    // Password change button events
    $('#changePasswordButton').on('click', function(e) {
      $('#changePasswordButtonDiv').css('display', 'none')
      $('#changePasswordForm').css('display', 'inline-block')
    })

    $('#changePasswordSaveButton').on('click', changePassword)

    $('#changePasswordCancelButton').on('click', function(e) {
      $('#changePasswordButtonDiv').css('display', 'inline-block')
      $('#changePasswordForm').css('display', 'none')
    })


  })
</script>
