<!-- Project View (once clicked on it)  
   -- Should have Client Name and address at the top (as in the mock up)
   -- The following Tabs:
     * Project Assessment Form 
     * Work Items  
     * Leaders 
     * Planning (using the Planning Form for contents) 
     * Partners (needs new data base fields for Org Name, Org Address, Contact Name, Contact Phone, Contact email) 
     * Wrap Up (using the Wrap Up Form for contents)  -->

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
 var dataPAF = {};
 var apple = "...data...";
 {{#if results.doc}}
 {{#each results.doc}}
 dataPAF.fullName = "{{application.name.first}} {{application.name.middle}} {{application.name.last}}";
 dataPAF.addr1 = "{{application.address.line_1}}, ";
 dataPAF.addr2 = "{{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}";
 dataPAF.addr3 = "{{application.address.city}}, {{application.address.state}}  {{application.address.zip}}";
 dataPAF.summ = "{{notes.site_summary}}";
 {{/each}}
 {{/if}}

var workItems = [];

 {{#if results.work}}
 //dataPAF.workItems = '';
   {{#each results.work}}
// workItems.push([i + '). ' + 'Name: {{name}}']);
// workItems.push([i + '). ' + 'Description: {{description}}']);
workItems.push("-     " + "Name:  {{name}}\n");
workItems.push("-     " + "Description:  {{description}}\n");
workItems.push("-     " + "Site Comments:  {{siteComments}}\n");
workItems.push("-     " + "COST:  ${{cost}}\n\n");
   {{/each}}
 {{/if}}

 // {{#if results.assessment}}
 // {{#each results.assessment}}
 //  dataPAF.hazard = "{{hazard_safety}}";
 //  dataPAF.materials = "{{materials}}";
 //  dataPAF.othercosts = "{{other_costs}}";
 //  dataPAF.estimates = "{{estimates}}";
 //  dataPAF.subcontractors = "{{subcontractors}}";
 //  dataPAF.toolrentals = "{{tool_rentals}}";
 //  dataPAF.dates = "{{proposed_dates}}";
 // {{/each}}
 // {{/if}}


</script>

<!-- <script src='/javascripts/makePDF/pdfmake.min.js'></script>
     <script src='/javascripts/makePDF/vfs_fonts.js'></script>
     <script src='/javascripts/makePDF/exportPAForm.js'></script> -->

<!-- Scripts for loading export PDF functions -->
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.39/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.39/vfs_fonts.js'></script>
<script src='/javascripts/generateReports/exportPAForm.js'></script>
<script src='/javascripts/generateReports/exportHandleForm.js'></script>

<script src="/javascript/xedit.js" type="text/javascript"></script>
<script src="/javascript/addProjectNote.js" type="text/javascript"></script>
<style>
 button.btn.btn-primary.btn-sm.editable-submit {
   width: 35px;
   height: 35px;
 }

 button.btn.btn-primary.btn-sm.editable-submit:after {
   content:  "\2713 ";
   font-size: 24px;
 }

 button.btn.btn-default.btn-sm.editable-cancel {
   width: 35px;
   height: 35px;
 }
 button.btn.btn-default.btn-sm.editable-cancel:after {
   content:  "\2190 ";
   font-size: 24px;
 }

 select.task-owner {
   min-width: 12em;
 }

 select.task-owner.unassigned {
   
 }
</style>


<div class="row">
  <div class="col-sm-12">
    <h5>Project View!  **NEW**<button class="btn btn-success" style="margin-left: 5%" onclick="exportPAFtoPDF()">Export PAF Report</button>
      <button class="btn btn-success" style="margin-left: 3%" onclick="exportHandletoPDF()">Export Handle-It Report</button>
    </h5>
    <nav class="navbar">
	    <div class="input-group">
		    <input type="text" id="note" class="form-control" placeholder="Enter Project Planning Note Here...">
		    <span class="input-group-btn">
			    <button id="addNote" class="btn btn-primary" type="submit">Add Note</button>
		    </span>
	    </div>
    </nav>
    {{#each results.doc}}
      <div class="row">
        <div class="col-xs-12">
          <h1 style="display:inline-block;">{{application.name.first}} {{application.name.middle}} {{application.name.last}}</h1>
          <h4 style="float:center;margin-left:50px;display:inline-block;">{{application.address.line_1}}{{#if_not_eq application.address.line_2 ''}}, {{application.address.line_2}}{{/if_not_eq}}, {{application.address.city}}, {{application.address.state}} {{application.address.zip}}</h4> 
          <h3 style="float:right;display:inline-block;" class="text-muted">#{{app_name}}</h4>
        </div>
      </div>
      <h5>Status: <a href="#" id="status" data-type="select" data-pk="{{_id}}" data-url="/edit/project/{{_id}}" data-name="status" data-title="Select status"></a></h5>
    {{/each}}

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#projectInfo" role="tab">Project Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contact" role="tab">Contact (DEL)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#work" role="tab">Work Item Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#leaders" role="tab">Leaders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#planning" role="tab">Planning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#partners" role="tab">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#wrapUp" role="tab">Wrap Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#notes" role="tab">Notes</a>
      </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="contact" role="tabpanel">
        <br />
        {{#each results.doc}}
          <div class="row">
            <div class="col-xs-12 col-sm-6" style="float:left;">
              <h4>Applicant Contact Info</h4>
              <table class="table">
                <tr>
                  <th class="col-xs-3">Address</th>
                  <td class="col-xs-9">
                    {{application.address.line_1}}<br/>
                    {{#if_not_eq application.address.line_2 ''}}
                      {{application.address.line_2}}<br/>
                    {{/if_not_eq}}
                    {{application.address.city}}, {{application.address.state}} {{application.address.zip}}<br/>
                  </td>
                </tr>

                <tr>
                  <th class="col-xs-3">Phone</th>
                  <td class="col-xs-9">{{application.phone.preferred}}</td>
                </tr>

                <tr>
                  <th class="col-xs-3">Email</th>
                  <td class="col-xs-9">
                    {{#if_not_eq application.email ''}}
                      <a href="mailto:{{application.email}}">{{application.email}}</a>
        {{else}}
                      None
                    {{/if_not_eq}}
                  </td>
                </tr>

                <tr>
                  <th class="col-xs-3">Advocate Info</th>
                  <td class="col-xs-9">
                    {{#if advocate.is_advocate}}
                      {{advocate.name}}<br/>
                      {{advocate.phone}}<br/>
                      {{advocate.relationship}}, {{advocate.organization_name}}<br/>
                      {{#if advocate.npo}}Non-profit<br/>{{/if}}
                      {{#if advocate.gov}}Government<br/>{{/if}}
                    {{else}}
                      None
                    {{/if}}
                  </td>
                </tr>

                <tr>
                  <th class="col-xs-3">Emergency Contact</th>
                  <td class="col-xs-9">
                    {{application.emergency_contact.name}}<br/>
                    {{application.emergency_contact.relationship}}<br/>
                    {{application.emergency_contact.phone}}
                  </td>
                </tr>

              </table>

              <h5>Applicant information</h5>
              <table class="table">
                <tr>
                  <th class="col-xs-3">Age</th>
                  <td class="col-xs-9">{{ageAndBirthday application.dob.date}}</td>
                </tr>


                <tr>
                  <th class="col-xs-3">Owns home</th>
                  <td class="col-xs-9">{{#if application.owns_home}}Yes{{else}}No{{/if}}</td>
                </tr>

                <tr>
                  <th class="col-xs-3">Spouse</th>
                  <td class="col-xs-9">
                    {{#if_not_eq application.marital.spouse ''}}
                      {{application.marital.spouse}}, {{application.marital.status}}
                    {{else}}
                      None
                    {{/if_not_eq}}
                  </td>
                </tr>

                <tr>
                  <th class="col-xs-3">Other residents</th>
                  <td class="col-xs-9">{{otherResidents application.other_residents}}</td>
                </tr>

                <tr>
                  <th class="col-xs-3">Veteran Status</th>
                  <td class="col-xs-9">{{#if application.veteran}}Veteran{{else}}None{{/if}}</td>
                </tr>

                <tr>
                  <th class="col-xs-3">Language</th>
                  <td class="col-xs-9">{{application.language}}</td>
                </tr>

                <tr>
                  <th class="col-xs-3">Heard About</th>
                  <td class="col-xs-9">
                    {{#if_not_eq application.heard_about ''}}
                      {{application.heard_about}}
                    {{else}}
                      No answer
                    {{/if_not_eq}}
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-xs-12 col-sm-6" style="float:left;">
              <h4>Vetting Summary</h4>
              <p>
                {{#if_not_eq notes.vet_summary ''}}
                  {{notes.vet_summary}}
                {{else}}
                  [no vetting summary]
                {{/if_not_eq}}
              </p>

              <!--               <h4>Map</h4>
                   <iframe width="100%" height="350" frameborder="0" style="border:0"
                   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2CmgnSECdg_g-aFgp95NUBv2QUEidDvs&q={{googleMapAddr application.address}}"></iframe> -->
            </div>
          </div>
        {{/each}}
      </div><!-- end #contact -->

      <div class="tab-pane active" id="projectInfo" role="tabpanel"><!-- start #projectInfo -->
        <br />
        {{#each results.doc}}
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Property Information</h4>
              <table class="table">

                <tr>
                  <th class="col-sm-3">Property Type</th>
                  <td class="col-sm-9">{{property.home_type}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Year Constructed</th>
                  <td class="col-sm-9">{{property.year_constructed}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Days/Volunteers Needed</th>
                  <td class="col-sm-9">11</td>
                  <!-- <td class="col-sm-9">{{property.requested_repairs}}</td> -->
                </tr>
                <tr>
                  <th class="col-sm-3">EST. Cost</th>
                  <td class="col-sm-9">$1,200</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Funding Sources</th>
                  <td class="col-sm-9">Funds raised</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Crew Chief</th>
                  <td class="col-sm-9">FirstName LastName</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Project Advocate</th>
                  <td class="col-sm-9">FirstName LastName</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Site Host</th>
                  <td class="col-sm-9">FirstName LastName</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Project # (yr/total)</th>
                  <td class="col-sm-9">551</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Lead / Asbestos Result</th>
                  <td class="col-sm-9">PASS</td>
                </tr>

                <!--  <tr>
                     <th class="col-sm-3">Client Can Contrib.</th>
                     <td class="col-sm-9">
                     {{#if property.client_can_contribute.value}}
                     Yes - {{property.client_can_contribute.description}}
                     {{else}} No {{/if}}
                     </td>
                     </tr>
                     <tr>
                     <th class="col-sm-3">Associates Can Contrib.</th>
                     <td class="col-sm-9">
                     {{#if property.associates_can_contribute.value}}
                     Yes - {{property.associates_can_contribute.description}}
                     {{else}} No{{/if}}
                     </td>
                     </tr> -->
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Summary</h4>
              <p>Use this space for any free text notes or summaries. The text saves a second after you stop typing.</p>
              <textarea id="site_summary" rows="10" class="form-control">{{notes.site_summary}}</textarea>
            </div>
          </div>
        {{/each}}
      </div><!-- end #projectInfo -->


      <!-- Partners (needs new data base fields for Org Name, Org Address, Contact Name, Contact Phone, Contact email)  -->
      <div class="tab-pane" id="partners" role="tabpanel"><!-- start #partners -->

        {{> partners}}

        <div class="col-xs-12 col-sm-6">
          <h4>Summary</h4>
          <p>Use this space for any free text notes or summaries. The text saves a second after you stop typing.</p>
          <textarea id="site_summary" rows="10" class="form-control">{{notes.site_summary}}</textarea>
        </div>
      </div><!-- end #partners -->
      

      <div class="tab-pane" id="planning" role="tabpanel"><!-- start #planning -->
        <br />
        {{#each results.doc}}
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Planning Info</h4>
              <table class="table">

                <!--                 <tr>
                     <th class="col-sm-3">Home Type</th>
                     <td class="col-sm-9">{{property.home_type}}</td>
                     </tr> -->

                <tr>
                  <th class="col-sm-3">Church Partner(s)</th>
                  <td class="col-sm-9">Church Name #1....</td>
                </tr>

                <tr>
                  <th class="col-sm-3"></th>
                  <td class="col-sm-9">Church Name #2....</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Other Partner(s)</th>
                  <td class="col-sm-9">Test Realtor Ltd.</td>
                </tr>

                <tr>
                  <!-- TODO: Clairify "length" unit -->
                  <th class="col-sm-3">Final Volunteer Count</th>
                  <td class="col-sm-9">{{property.ownership_length}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Final Labour-Hrs Count</th>
                  <td class="col-sm-9">{{property.year_constructed}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Final $ in kind given</th>
                  <td class="col-sm-9">$5,000</td>
                </tr>
                <!-- <tr>
                     <th class="col-sm-3">Requested Repairs</th>
                     <td class="col-sm-9">{{property.requested_repairs}}</td>
                     </tr> -->
                <tr>
                  <th class="col-sm-3">Client Can Contrib.</th>
                  <td class="col-sm-9">
                    {{#if property.client_can_contribute.value}}
                      Yes - {{property.client_can_contribute.description}}
                    {{else}} No {{/if}}
                  </td>
                </tr>
                <tr>
                  <th class="col-sm-3">Associates Can Contrib.</th>
                  <td class="col-sm-9">
                    {{#if property.associates_can_contribute.value}}
                      Yes - {{property.associates_can_contribute.description}}
                    {{else}} No{{/if}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Summary</h4>
              <p>Use this space for any free text notes or summaries. The text saves a second after you stop typing.</p>
              <textarea id="site_summary" rows="10" class="form-control">{{notes.site_summary}}</textarea>
            </div>
          </div>
        {{/each}}
      </div><!-- end #planning -->


      <div class="tab-pane" id="leaders" role="tabpanel"><!-- start #leaders -->
        <br />
        {{#each results.doc}}
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Leaders Info</h4>
              <table class="table">

                <!--                 <tr>
                     <th class="col-sm-3">Home Type</th>
                     <td class="col-sm-9">{{property.home_type}}</td>
                     </tr> -->

                <tr>
                  <th class="col-sm-3">Church Partner(s)</th>
                  <td class="col-sm-9">Church Name #1....</td>
                </tr>

                <tr>
                  <th class="col-sm-3"></th>
                  <td class="col-sm-9">Church Name #2....</td>
                </tr>

                <tr>
                  <th class="col-sm-3">Other Partner(s)</th>
                  <td class="col-sm-9">Test Realtor Ltd.</td>
                </tr>

                <tr>
                  <!-- TODO: Clairify "length" unit -->
                  <th class="col-sm-3">Final Volunteer Count</th>
                  <td class="col-sm-9">{{property.ownership_length}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Final Labour-Hrs Count</th>
                  <td class="col-sm-9">{{property.year_constructed}}</td>
                </tr>
                <tr>
                  <th class="col-sm-3">Final $ in kind given</th>
                  <td class="col-sm-9">$5,000</td>
                </tr>
                <!-- <tr>
                     <th class="col-sm-3">Requested Repairs</th>
                     <td class="col-sm-9">{{property.requested_repairs}}</td>
                     </tr> -->
                <tr>
                  <th class="col-sm-3">Client Can Contrib.</th>
                  <td class="col-sm-9">
                    {{#if property.client_can_contribute.value}}
                      Yes - {{property.client_can_contribute.description}}
                    {{else}} No {{/if}}
                  </td>
                </tr>
                <tr>
                  <th class="col-sm-3">Associates Can Contrib.</th>
                  <td class="col-sm-9">
                    {{#if property.associates_can_contribute.value}}
                      Yes - {{property.associates_can_contribute.description}}
                    {{else}} No{{/if}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Summary</h4>
              <p>Use this space for any free text notes or summaries. The text saves a second after you stop typing.</p>
              <textarea id="site_summary" rows="10" class="form-control">{{notes.site_summary}}</textarea>
            </div>
          </div>
        {{/each}}
      </div><!-- end #leaders -->


      <div class="tab-pane" id="wrapUp" role="tabpanel"><!-- start #wrapUp -->
        <br />
        <div class="row">
          <h4>Wrap up Info</h4>
          <table class="table">

            <tr>
              <th class="col-xs-12 col-sm-6">Return volunteer sign-up sheet to office</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'signup_sheet_office' }}">
                  <input type="checkbox" name="signup_sheet_office" value=""
                         {{#if wrapUp.signup_sheet_office.complete}} checked {{/if}}
                  />
                  Complete
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="signup_sheet_office"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Record volunteer hours / info</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'record_volunteer_info' }}">
                  <input type="checkbox" name="record_volunteer_info" value=""
                         {{#if wrapUp.record_volunteer_info.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="record_volunteer_info"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">In-kind donations info</th>
              <td class="col-xs-6 col-sm-2">
                TODO
              </td>
              <td class="col-xs-6 col-sm-4">
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Schedule porta pottie pickup
                <span class="wrapup-required"></span>
              </th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'porta_pottie_pickup' }}">
                  <input type="checkbox" name="porta_pottie_pickup" value=""
                         {{#if wrapUp.porta_pottie_pickup.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="porta_pottie_pickup"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Schedule waste bin pickup office</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'waste_dumpster_pickup' }}">
                  <input type="checkbox" name="waste_dumpster_pickup" value=""
                         {{#if wrapUp.waste_dumpster_pickup.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="waste_dumpster_pickup"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Arrange for disposal of waste</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'waste_disposal_arrangement' }}">
                  <input type="checkbox" name="waste_disposal_arrangement" value=""
                         {{#if wrapUp.waste_disposal_arrangement.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="waste_disposal_arrangement"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Return materials and rentals</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{ getCompletedDate wrapUp 'return_materials_rentals' }}">
                  <input type="checkbox" name="return_materials_rentals" value=""
                         {{#if wrapUp.return_materials_rentals.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="return_materials_rentals"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Turn in receipts and expenses to office</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'turn_in_receipts' }}">
                  <input type="checkbox" name="turn_in_receipts" value=""
                         {{#if wrapUp.turn_in_receipts.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="turn_in_receipts"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Process reimbursement checks</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'process_reimbursement_checks' }}">
                  <input type="checkbox" name="process_reimbursement_checks" value=""
                         {{#if wrapUp.process_reimbursement_checks.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="process_reimbursement_checks"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Submit photos to Flickr album or send to office</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{ getCompletedDate wrapUp 'upload_photos_flickr' }}">
                  <input type="checkbox" name="upload_photos_flickr" value=""
                         {{#if wrapUp.upload_photos_flickr.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="upload_photos_flickr"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Project report form submitted to office</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{ getCompletedDate wrapUp 'report_form_submission' }}">
                  <input type="checkbox" name="report_form_submission" value=""
                         {{#if wrapUp.report_form_submission.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="report_form_submission"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Update the project webpage</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{ getCompletedDate wrapUp 'update_project_webpage' }}">
                  <input type="checkbox" name="update_project_webpage" value=""
                         {{#if wrapUp.update_project_webpage.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="update_project_webpage"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Call client to ask how project went</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'client_phone_followup' }}">
                  <input type="checkbox" name="client_phone_followup" value=""
                         {{#if wrapUp.client_phone_followup.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="client_phone_followup"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Send volunteer thank you email</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'send_thank_you_email' }}">
                  <input type="checkbox" name="send_thank_you_email" value=""
                         {{#if wrapUp.send_thank_you_email.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="send_thank_you_email"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Determine if follow-up is needed</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'determine_followup_required' }}">
                  <input type="checkbox" name="determine_followup_required" value=""
                         {{#if wrapUp.determine_followup_required.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="determine_followup_required"></select>
              </td>
            </tr>

            <tr>
              <th class="col-xs-12 col-sm-6">Send closing recipient letter</th>
              <td class="col-xs-6 col-sm-2">
                <label data-toggle="tooltip"
                       title="{{getCompletedDate wrapUp 'send_closing_letter' }}">
                  <input type="checkbox" name="send_closing_letter" value=""
                         {{#if wrapUp.send_closing_letter.complete}} checked {{/if}}
                  />
                  Complete <span class="wrapup-completed-on"></span>
                </label>
              </td>
              <td class="col-xs-6 col-sm-4">
                Owner
                <select class="task-owner" data-owner-of="send_closing_letter"></select>
              </td>
            </tr>


          </table>
        </div>
      </div><!-- end #wrapUp -->


      <div class="tab-pane" id="work" role="tabpanel">
        <!-- START #work -->
        <br />    
        <div class="row" id="workItemCards">
          <div class="panel-group col-md-12 my-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                 <h3 class="panel-title">
                   <a data-toggle="collapse" href="#add-work-item-collapse">Click to Add a Work Item</a>
                   </h3>
              </div>
            
          
            <div id="add-work-item-collapse" class="panel panel-collapse collapse work-item col-md-12" name="new">
              <div class="panel-body">
                <h4 class="card-title">New Work Item</h4>
                <p class="card-text">
                  <div class="form-group">
                    <label class="form-control-label">Name*</label>
                    <input type="text" class="form-control" name="name">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Description*</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Project Comments*</label>
                    <textarea class="form-control" name="projectComments" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Cost</label>
                    <input type="cost" class="form-control" name="cost">
                  </div>
                </p>
                <a href="#" class="btn btn-primary card-link work-item-new">Save</a>
                <a href="#" class="btn btn-danger card-link work-item-clear">Clear</a>
              </div>
            </div>
          </div>
            </div>
                      
         
            {{#each results.work}}
            <div class="col-xs-12 col-sm-6">
              <div class="card work-item" name="{{_id}}">
                <div class="card-block">
                  <h4 class="card-title" name="{{_id}}.name">{{name}}</h4>
                  <p class="text-muted">{{date}}</p>
                  <p class="card-text">
                    <strong>Description:</strong>
                    <br/>
                    <span name="{{_id}}.description">{{description}}</span>
                    <br/>
                    <br/>
                    <strong>Vetting comments:</strong>
                    <br/>
                    <span name="{{_id}}.vettingComments">{{vettingComments}}</span>
                    <br/>
                    <br/>
                    <strong>Site comments:</strong>
                    <br/>
                    <span name="{{_id}}.siteComments">{{siteComments}}</span>
                    <br/>
                    <br/>
                    <strong>Project comments:</strong>
                    <br/>
                    <span name="{{_id}}.projectComments">{{projectComments}}</span>
                    <br/>
                    <br/>
                    <strong>Cost:</strong>
                    <br/>
                    <span name="{{_id}}.cost">{{cost}}</span>
                  </p>
                  <a href="#" class="btn btn-primary card-link work-item-comment">Edit</a>
                  <a href="#" class="btn btn-warning card-link work-item-delete">Delete</a>
      
                </div>
              </div>
            </div>
            {{/each}}
          
        </div>
      </div>
        <!-- END #work --><div class="tab-pane" id="notes" role="tabpanel">
        <div class="col-xs-12 col-sm-12">
			    <!--VETTING NOTES-->
			    <h3>Project Notes</h3>
	        <div class="form-group">
	          <form method="post">
	            <input type="hidden" value="{{doc._id}}" id="appId"/>
				      <input type="hidden" value="{{user}}" id="userId"/>
	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th >Date</th>
	                  <th>Note</th>
						        <th>Submitted By</th>
	                  <th             </tr>
	              </thead>
	              <tbody id="notes-body">
	                {{#if projectNotes}}
	                  {{#each projectNotes}}
	                    <tr>
	                      <td>{{this.date}}</td>
	                      <td class="note-descrip">{{this.description}}</td>
								        <td class="note-vetAgent">{{this.projectPlanner}}</td>
	                      <td>
	                        <form>
	                          <input type="hidden" value="{{this._id}}" name="noteId" />
	                          <input type="submit" class="update-note btn btn-info" value="Update Note"/>
	                          <input type="submit" class="delete-button2 btn btn-danger" value="Delete Note"/>
	                        </form>
	                      </td>
	                    </tr>
	                  {{/each}}
	                {{else}}
	                  <tr>
	                    <td id="empty-notes" class="alert-danger danger" colspan="3">
	                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No Notes To Display
	                    </td>
	                  </tr>
	                {{/if}}

					        <tr><!--THIS EMPTY ROW IS NECESSARY FOR addProjectNote.js TO WORK ON MULTIPLE PAGES--></tr>
	              </tbody>
	            </table>
	          </form>
	        </div>
	      </div>
      </div>




    </div>

  </div>
</div>

<script>
 var workItems = {{{stringify results.work}}};
 var docs = {{{stringify results.doc}}};
 var assignableUsers = {{{ stringify assignableUsers }}};
 var wrapUp = {{{ stringify wrapUp }}};
 $(document).ready(function() {
   $('.work-item-comment').each(watchEditButton)   
   $('.work-item-delete').on('click', showWorkItemDeleteConfirm)
   $('.work-item-new').on('click', handleNewWorkItemSubmission)
   $('.work-item-clear').on('click', handleNewWorkItemClear)
   $('#site_summary').on('keydown', handleSiteSummaryInput)

   $('#status').editable({
     value: docs[0].status,
     source: [
       {value: 'handleToBeAssigned', text: 'Handle-It - To Be Assigned'},
       {value: 'handleAssigned', text: 'Handle-It - Assigned'},
       {value: 'handleCompleted', text: 'Handle-It - Completed'},
       {value: 'projectUpcoming', text: 'Project - Upcoming'},
       {value: 'projectInProgress', text: 'Project - In Process'},
       {value: 'projectGoBacks', text: 'Project - Go Backs'},
       {value: 'projectCompleted', text: 'Project - Completed'},
       {value: 'nostatus', text: '(Send to Yellow Bin - No Status)'},
     ]
   });

   // Enable tooltips.
   $('[data-toggle="tooltip"]').tooltip();
   
   $('#wrapUp input:checkbox').change(updateWrapup);
   
   // Populate the owner dropdown boxes with assignable users. Save them when changed.
   $('.task-owner').each(function () {
     var $this = $(this);
     var taskName = $this.data('owner-of');
     $this.empty();
     $this.append('<option value="">Unassigned</option>');

     $.each(assignableUsers, function (i, user) {
       var fullName = user.contact_info.user_name.user_first + ' ' +
                      user.contact_info.user_name.user_last;
       $option = $('<option value="' + user._id + '">' + fullName + '</option>');
       if (wrapUp[ taskName ].owner === user._id) {
         $option.prop('selected', 'selected')
       }
       $this.append($option);
     });

     $this.change(updateWrapup);
   })

 })

 function handleSiteSummaryInput(e) {
   if (window.siteSummaryTimeout) {
     window.clearTimeout(window.siteSummaryTimeout)
   }
   // TODO: set this URL
   window.siteSummaryTimeout = window.setTimeout(function() {
     xhr(
       { id: docs[0]._id, name: 'notes.site_summary', value: this.val },
       'POST',
       '/site/updatesummary',
       function(err, data) {
         console.info('site summary saved')
       }
     )
   }.bind({val: e.target.value}), 500)
 }

 // Used with $(*).each
 function watchEditButton(idx) {
   $(this).on('click', showWorkItemEditForm)
 }


 function showWorkItemEditForm(e) {
   e.preventDefault()
   var workItemParent = this.parentElement
   var workItemContainer = $(workItemParent)
   var workItemId = $(workItemParent.parentElement).attr('name')

   var currentData = {}
   $('[name*="' + workItemId + '"]', workItemContainer).each(function(idx) {
     var path = $(this).attr('name').replace(workItemId + '.', '')
     currentData[path] = this.innerText
   })

   $(this).toggle();
   $(this).siblings('.work-item-delete').toggle();
   //workItemContainer.empty()

   var fields = [
    {field: 'name', text:'Name', type: 'textarea'},        
     {field: 'description', text:'Description', type: 'textarea'},   
     {field: 'projectComments', text:'Project Comments', type: 'textarea'},
     {field: 'cost', text:'Cost', type: 'text'},
     
   ]

   fields.forEach(function(f) {
     var formGroup = $('<div class="form-group"></div>')
     $('<label>' + f.text + '</label>').appendTo(formGroup)
     if (f.type && f.type === 'textarea') {
       $('<textarea></textarea>')
         .addClass('form-control')
         .attr('name', workItemId + '.' + f.field)
         .attr('rows', 5)
         .val(currentData[f.field])
         .appendTo(formGroup)
     } else {
       $('<input></input>')
         .addClass('form-control')
         .attr('name', workItemId + '.' + f.field)
         .val(currentData[f.field])
         .appendTo(formGroup)
     }

     workItemContainer.append(formGroup)
   })

   $('<button></button>')
         .text('Save')
         .addClass('btn').addClass('btn-primary')
         .addClass('card-link')
         .on('click', function(e) {
           saveWorkItem(workItemContainer)
         })
         .appendTo(workItemContainer)

   $('<button></button>')
         .text('Cancel')
         .addClass('btn').addClass('btn-danger')
         .addClass('card-link')
         .on('click', function(e) {
           for (let i=0; i<workItems.length; i++) {
             if (workItems[i]._id === workItemId) {
               showWorkItem(workItems[i], workItemContainer)
             }
           }
         })
         .appendTo(workItemContainer)
 }

 function showWorkItem(data, node) {
   node.empty()

   var cardBlock = node

   $('<h4></h4>').addClass('card-title')
                 .attr('name', data._id + '.name')
                 .text(data.name)
                 .appendTo(cardBlock)

   $('<p></p>').addClass('text-muted')
                 .text(new Date(data.date).toString())
                 .appendTo(cardBlock)

   var cardText = $('<p></p>').addClass('card-text')
                              .appendTo(cardBlock)

   $('<strong>Description:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<span></span>')
                              .attr('name', data._id + '.description')
                              .text(data.description)
                              .appendTo(cardText)

   $('<br></br>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Vetting Comments:</strong>').appendTo(cardText)
   // $('<br></br>').appendTo(cardText)

   $('<p></p>').attr('name', data._id + '.vettingComments')
                              .text(data.vettingComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Site Comments:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)
   
   

   $('<p></p>').attr('name', data._id + '.siteComments')
                              .text(data.siteComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Project Comments:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText) 
   

   $('<p></p>').attr('name', data._id + '.projectComments')
                              .text(data.projectComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)


   $('<strong>Cost:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<span></span>')
                              .attr('name', data._id + '.cost')
                              .text(data.cost)
                              .appendTo(cardText)

   $('<a></a>').addClass('btn').addClass('btn-primary')
                              .addClass('card-link').addClass('work-item-comment')
                              .text('Edit')
                              .attr('href', '#')
                              .on('click', showWorkItemEditForm)
                              .appendTo(cardBlock)

                              
   $('<a></a>').addClass('btn').addClass('btn-warning')
                              .addClass('card-link').addClass('work-item-comment')
                              .text('Delete')
                              .attr('href', '#')
                              .on('click', deleteWorkItem)
                              .appendTo(cardBlock)
 }



	function showWorkItemDeleteConfirm(e) {
		e.preventDefault()
		var workItemParent = this.parentElement
		var workItemContainer = $(workItemParent)
		var workItemId = $(workItemParent.parentElement).attr('name')

		var currentData = {}
		$('[name*="' + workItemId + '"]', workItemContainer).each(function(idx) {
			var path = $(this).attr('name').replace(workItemId + '.', '')
			currentData[path] = this.innerText
		})

		workItemContainer.empty()

		$('<h4>Are you sure?</h4>').appendTo(workItemParent)
		$('<p>You are about to delete this work item. After selecting confirm, you '
			+ 'will be unable to recover the item.</p>').appendTo(workItemParent)

		$('<a>Continue</a>').addClass('btn').addClass('btn-primary')
		.appendTo(workItemParent)
		.on('click', function(e) {
			deleteWorkItem(workItemId, workItemParent)
		})

		$('<a>Cancel</a>').addClass('btn').addClass('btn-danger')
		.appendTo(workItemParent)
		.on('click', function(e) {
			e.preventDefault()
			for (let i=0; i<workItems.length; i++) {
				if (workItems[i]._id === workItemId) {
					showWorkItem(workItems[i], workItemContainer)
				}
			}
		})
	}

 function saveWorkItem(node) {
   var data = {}, id = false
   $('input, textarea', node).each(function(idx) {
     var path = this.name.split('.')[1]
     data[path] = this.value
     if (!id) id = this.name.split('.')[0]
   })

   // XHR here
   var xhrData = JSON.parse(JSON.stringify(data))
   xhrData.id = id
  console.log('updating now');
   xhr(xhrData, 'POST', '/pm/updateitem', function(err) {
     if (err) {
       // TODO: If error, flip the value back and show an error message to the user
        alert('Value did not save, please reload the page')
     }

     for (var i=0; i<workItems.length; i++) {
       if (workItems[i]._id === id) {
         Object.keys(data).forEach(function(k) {
           workItems[i][k] = data[k]
         })

         showWorkItem(workItems[i], node)
         //$('.work-items-comment').toggle();
       }
     }
   })






 }

 function xhr(data, method, url, next) {
   //post to database

   var posting = $.ajax({
     type : method,
     url : url,
     dataType : 'json',
     contentType : 'application/json; charset=UTF-8',
     data : JSON.stringify(data)
   });

   //check for error
   posting.done(function (xhr) {
     if(xhr.status === 'success' || xhr.status === 200 || xhr.status ==='200') {
       next(null, xhr)
     } else {
       next(new Error('Could not complete xhr'))
     }
   });

   posting.fail(function (res) {
     next(new Error('Could not complete xhr'))
   });
 }
function deleteWorkItem(id, node) {
  console.log(id);
  console.log({itemId: id});
		xhr({itemId: id}, 'POST', '/pm/deleteitem', function(err, data) {
			if (err) { alert('Unable to delete item') }
			else {
				var workItemRoot = $('[name="' + id + '"]')
				workItemRoot.remove()
				for (var i=0; i<workItems.length; i++) {
					if (workItems[i]._id == id) { workItems.splice(i, 1) }
				}
			}
		})
	}

 function handleNewWorkItemSubmission(e) {
   var newWorkItem = {}, error = false

   $('input, textarea', e.target.parentNode).each(function(idx) {
     if (this.value.length === 0 && this.name !== 'cost') {
       $(this.parentNode).addClass('has-danger')
       error = true
     } else {
       newWorkItem[this.name] = this.value
       $(this.parentNode).removeClass('has-danger')
     }
   })

   if (error === false) {
     createNewWorkItem(newWorkItem, function(err) {
       handleNewWorkItemClear()
     })
   }
 }

 function handleNewWorkItemClear(e, node) {
   $('input, textarea', (e ? e.target.parentNode : node)).each(function(idx) {
     $(this).val('')
     $(this.parentNode).removeClass('has-danger')
   });
   $('#add-work-item-collapse').collapse('hide');
 }

 function createNewWorkItem(w, next) {
   var id = docs[0]._id
   var rightNow = new Date()

   w.date = rightNow
   w.updated = rightNow
   w.applicationId = id

   xhr(w, 'POST', '/pm/additem', function(err, data) {
     // TODO: Handle error
     if (err) { alert('There was an error saving your work item') }

     w._id = data.itemId
     workItems.push(w)
     var newNode = addWorkItem(w)
     handleNewWorkItemClear(null, $('[name="new"]'))

   })
 }

 function addWorkItem(w) {
   var cardContainer = $('#workItemCards')

   var cardDiv = $('<div></div>').addClass('col-xs-12').addClass('col-sm-6')
                                 .appendTo(cardContainer)

   var card = $('<div></div>').addClass('card').addClass('work-item')
                              .attr('name', w._id)
                              .appendTo(cardDiv)

   var cardBlock = $('<div></div>').addClass('card-block')
                                   .appendTo(card)


   $('<h4></h4>').addClass('card-title')
                                   .attr('name', w._id + '.name')
                                   .text(w.name)
                                   .appendTo(cardBlock)

   $('<p></p>').addClass('text-muted')
                                   .text(w.date.toString())
                                   .appendTo(cardBlock)

   var cardText = $('<p></p>').addClass('card-text')
                              .appendTo(cardBlock)

   $('<strong>Description:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<span></span>')
                              .attr('name', w._id + '.description')
                              .text(w.description)
                              .appendTo(cardText)

   $('<br></br>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Vetting Comments:</strong>').appendTo(cardText)
   // $('<br></br>').appendTo(cardText)

   $('<p></p>').text(w.vettingComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Site Comments:</strong>').appendTo(cardText)
   // $('<br></br>').appendTo(cardText)

   $('<p></p>').text(w.siteComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   
   $('<strong>Project Comments:</strong>').appendTo(cardText)
   // $('<br></br>').appendTo(cardText)

   $('<p></p>').text(w.projectComments).appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<strong>Cost:</strong>').appendTo(cardText)
   $('<br></br>').appendTo(cardText)

   $('<span></span>')
                              .attr('name', w._id + '.cost')
                              .text(w.cost)
                              .appendTo(cardText)

   $('<a></a>').addClass('btn').addClass('btn-primary')
                              .addClass('card-link').addClass('work-item-edit')
                              .text('Edit')
                              .attr('href', '#')
                              .on('click', showWorkItemEditForm)
                              .appendTo(cardBlock)

  $('<a></a>').addClass('btn').addClass('btn-warning')
                              .addClass('card-link').addClass('work-item-delete')
                              .text('Delete')
                              .attr('href', '#')
                              .on('click', showWorkItemDeleteConfirm)
                              .appendTo(cardBlock)

   return cardBlock
 }

 function updateWrapup () {
   
   $('#wrapUp input:checkbox').each(function () {
     var $this = $(this);
     var name = $this.attr('name')
     
     wrapUp[name].complete = $this.prop('checked');
     if (wrapUp[name].complete && !wrapUp[name].completed_on) {
       wrapUp[name].completed_on = Date.now();
     } else if (!wrapUp[name].complete) {
       wrapUp[name].completed_on = null;
     }
   });

   $('#wrapUp select.task-owner').each(function () {
     var $this = $(this);
     wrapUp[ $this.data('owner-of') ]. owner = $this.val() || null;
   });

   // Strip the MongoDB version field from the record (so that it saves).
   if (typeof wrapUp.__v !== 'undefined') {
     delete wrapUp.__v;
   }

   // Save the new record to the database.
   $.ajax({
     url: '/projectview/wrapup',
     method: 'POST',
     dataType: 'json',
     contentType: 'application/json; charset=utf8',
     data: JSON.stringify(wrapUp),
     success: function (data) {
       var w = data.results.projectWrapUp;

       // Update the checkboxes.
       $('#wrapUp input:checkbox').each(function () {
         var $this = $(this);
         var name = $this.attr('name')

         // TODO: does this cause a cascade/infinite loop (trigger onchange) ??
         $this.prop('checked', w[name].complete);

         var completeDate = '';
         if (w[name].complete && w[name].completed_on !== null) {
           var completeDate = new Date(w[name].completed_on).toLocaleDateString();
         }
         $this.parent('label').attr('data-original-title', completeDate);
       });

       // Update the dropdowns.
       $('#wrapUp select.task-owner').each(function () {
         var $this = $(this);
         if (w[$this.data('owner-of')] && w[$this.data('owner-of')].owner !== null) {
           $this.val(w[$this.data('owner-of')].owner)
         } else {
           $this.val('');
         }
       });
     }
   });
 }


</script>
