<!--Project Summary View - Show “Approved Projects” 
     Add new entries for “Status” field on application for: 
    • Handle-It - To Be Assigned 
    • Handle-It - Assigned    
    • Handle-It - Completed     
    • Project - Upcoming 
    • Project - In Process 
    • Project - Go Backs 
    • Project - Completed  -->

<h1>Current Project Summary</h1>
<h3>All Project Status</h3>

<!-- Section that holds NEW documents -->
<div class="row">
    <div class="col-xs-12">
        
    <!-- Section that holds approved documents -->
       <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-pink" role="tab" id="headingOne">

                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="text-white">
                            Handle-its: Assigned <div style="float: right;">{{handleAssigned.length}}</div>
                        </a>
                    </h5>

                </div>
                <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each handleAssigned}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-pink" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="text-white">
                            Handle-its: To Be Assigned <div style="float: right;">{{handle.length}}</div>
                        </a>
                    </h5>
<!--           <div id="year_select">
          <form class="display_year">
            <select name="year" id="displayYear">
              {{#each year}}
              <option value={{yearValue}}>{{yearValue}}</option>
              {{/each}}
            </select>
          </form>
          </div> -->
            
                </div>
                <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover" id="project_table">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each handle}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                  <!-- <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




<!--        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-pink" role="tab" id="headingTwo">

                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" class="text-white">
                            MORE TABS: <div style="float: right;">{{completed.length}}</div>
                        </a>
                    </h5>

                </div>
                <div id="collapseThree" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Crew-Chief</th>
                                <th class="col-md-2">Proj. Advocate</th>
                                <th class="col-md-2">Site Host</th>
                                <th class="col-md-2">Partners</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                <th class="col-md-2">Application Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each completed}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                  <td class="col-md-2">{{app_name}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->


        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-primary" role="tab" id="headingTwo">

                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseTwo" class="text-white">
                            Projects: In Progress <div style="float: right;">{{projectInProgress.length}}</div>
                        </a>
                    </h5>

                </div>
                <div id="collapseFive" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                <!-- <th class="col-md-2">Application Number</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each projectInProgress}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                 <!--  <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-primary" role="tab" id="headingTwo">

                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseTwo" class="text-white">
                            Projects: Go Backs <div style="float: right;">{{projectGoBacks.length}}</div>
                        </a>
                    </h5>

                </div>
                <div id="collapseSix" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                <!-- <th class="col-md-2">Application Number</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each projectGoBacks}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                  <!-- <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-primary" role="tab" id="headingTwo">

                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseTwo" class="text-white">
                            Projects: Upcoming <div style="float: right;">{{project.length}}</div>
                        </a>
                    </h5>

                </div>
                <div id="collapseFour" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                <!-- <th class="col-md-2">Application Number</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each project}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                  <!-- <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


   <!--  <span onload="filter('compAll')"> -->
        <!-- Section that holds other documents -->
        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-success" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseThree" class="text-white">
                            Completed Tasks<div class = 'compAllLength' style = "float: right;">{{completed.length}}</div>
                            <div style="float:right;display: flex; color: white; margin-left: 20px"><div class = 'compAllLength' style = "position: absolute;">{{completed.length}}</div></div>
 <!--                            <div class="dropdown" style="float:right; margin-right: 4%">
                                  <button onclick="myFunction()" class="dropbtn">FILTER BY</button>
                                  <div id="myDropdown" class="dropdown-content">
                                    <a href="#" onclick="filter('compP')">Projects</a>
                                    <a href="#" onclick="filter('compH')">Handle-its</a>
                                    <a href="#" onclick="filter('compAll')">BOTH</a>
                                  </div>  
                            </div> -->
                        </a>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                                <th class="col-md-2">Application Date</th>
                                <!-- <th class="col-md-2">Application Number</th> -->
                            </tr>
                            </thead>
                            <tbody>
                <div class="compAll" style="display: none;">
                        {{#each completed}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                                    <td class="col-md-2">{{signature.client_date}}</td>
                                    <!-- <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                        {{/each}}
                </div>
<!--                 <div class="compH" style="display: none;">
                        {{#each handleCompleted}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                                    <td class="col-md-2">{{signature.client_date}}</td>
                                    <td class="col-md-2">{{app_name}}</td>
                                </tr>
                        {{/each}}
                </div>

                <div class="compP" style="display: none;">
                        {{#each projectCompleted}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                                    <td class="col-md-2">{{signature.client_date}}</td>
                                    <td class="col-md-2">{{app_name}}</td>
                                </tr>
                        {{/each}}
                </div>

                <div class="compStacked" style="display: none !important;">
                        {{#each projectCompleted}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                                    <td class="col-md-2">{{signature.client_date}}</td>
                                    <td class="col-md-2">{{app_name}}</td>
                                </tr>
                        {{/each}}
                        {{#each handleCompleted}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                                    <td class="col-md-2">{{signature.client_date}}</td>
                                    <td class="col-md-2">{{app_name}}</td>
                                </tr>
                        {{/each}}
                </div> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- </span> -->
  
        <!-- Section that holds declined documents -->
        <div role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header bg-warning" role="tab" id="headingFour">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseFour" class="text-white">
                            Others (Yellow Bin) <div style="float: right;">{{nostatus.length}}</div>
                        </a>
                    </h5>
         
<!--           <div id="year_selectDeclined">
          <form class="display_year">
            <select name="year" id="displayYearDeclined">
              {{#each year}}
              <option value={{yearValue}}>{{yearValue}}</option>
              {{/each}}
            </select>
          </form>
          </div> -->
                </div>

                <div id="collapseEight" class="collapse in" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                        <table class="table table-sm table-bordered table-hover" id="unapproved_table">
                            <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Last Edit</th>
                                <th class="col-md-2">Status</th>
                <th class="col-md-2">Application Date</th>
                <!-- <th class="col-md-2">Application Number</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            {{#each nostatus}}
                                <tr class="clickable-row" data-href="/projectview/{{_id}}">
                                    <td class="col-md-2"><a href="/projectview/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                                    <td class="col-md-2"><a href="http://maps.google.com/?q={{application.address.line_1}}, {{application.address.line_2}}{{#if_not_eq application.address.line_2 ''}}, {{/if_not_eq}}{{application.address.city}}, {{application.address.state}}, {{application.address.zip}}" target="_blank">{{application.address.city}}, {{application.address.state}}</a></td>
                                    <td class="col-md-2">{{updated}}</td>
                                    <td class="col-md-2"><span class="text-danger">{{status}}</span></td>
                  <td class="col-md-2">{{signature.client_date}}</td>
                  <!-- <td class="col-md-2">{{app_name}}</td> -->
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    



    </div>
</div>
<script src="/javascript/searchYear.js" type="text/javascript"></script>
<!-- Make entire table rows clickable! -->
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });


    filter(inStr) {
        if (inStr =='compP') {
            var p = document.getElementsByClassName("compP");
            var h = document.getElementsByClassName("compH");
            var all = document.getElementsByClassName("compAll");
            
            all[0].style.display = 'none';
            h[0].style.display = 'none';
            p[0].style.display = 'block';
        }
        else if (inStr == 'compH') {
            var p = document.getElementsByClassName("compP");
            var h = document.getElementsByClassName("compH");
            var all = document.getElementsByClassName("compAll");
            
            p[0].style.display = 'none';
            all[0].style.display = 'block';
            h[0].style.display = 'none';
        }
        else if (inStr == 'compAll') {
            alert("r");
            var p = document.getElementsByClassName("compP");
            var h = document.getElementsByClassName("compH");
            var all = document.getElementsByClassName("compAll");
            
            p[0].style.display = 'none';
            h[0].style.display = 'none';
            all[0].style.display = 'block';
        }
    }


</script>

<style type="text/css">
  .bg-pink {
    background-color: #ff72b3;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    margin-top: -15px;
    margin-left: -80px;
    padding: 10px;
    display: inline;
    position: absolute;
    font-size: 12px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 28px;
    margin-left: -80px;
    background-color: #f1f1f1;
    min-width: 79px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    font-size: 13px;
}
.dropdown-content a {
    color: black;
    padding: 0px 7px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>