<h3>Assigned Tasks</h3>

<div role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header bg-primary" role="tab" id="headingTwo">

      <h5 class="mb-0">
        Planning Tasks
      </h5>

    </div>
    <div id="myTasks" class="" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <table class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-2">Application</th>
              <th class="col-md-2">Lead Time</th>
              <th class="col-md-2">Start Date</th>
              <th class="col-md-6">Task</th>
            </tr>
          </thead>
          <tbody>

            {{#each plan}}
              <tr>
                <td class="col-md-2">
                  <a href="/projectview/{{applicationId}}" target="_new">
                    {{getAppNameForPlan ../applications applicationId}}
                  </a>
                </td>
                <td class="col-md-2">{{getPlanLeadTime this}}</td>
                <td class="col-md-2">{{getPlanStartTime this}}</td>
                <td class="col-md-6">{{getPlanTaskAssignments this userId}}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
