<div class="row">
  <div class="col-md-9">
    <h3>Assigned Tasks</h3>
  </div>
  <div class="col-md-3" style="text-align: right;">
    {{#if_in user_roles "PROJECT_MANAGEMENT"}}
      <a class="btn btn-primary" href="/leadtime">Lead Time Default Settings</a>
     <!--  <a class="btn btn-success" href="/tasks/all">All Tasks</a> -->
    {{/if_in}}
  </div>
</div>

<br/>

<div role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header bg-primary" role="tab" id="headingTwo">

      <h5 class="mb-0">
        Planning Tasks
      </h5>

    </div>
    <div id="myTasks" class="" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <table class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-3">Application</th>
              <th class="col-md-2">Start Date</th>
              <th class="col-md-7">Task</th>
            </tr>
          </thead>
          <tbody>

            {{#each plan}}
              <tr>
                <td class="col-md-3">
                  <a href="/projectview/{{applicationId}}" target="_new">{{
                    getAppNameForPlan ../applications applicationId
                    }}</a>
                  {{getSignatureName ../applications applicationId}}
                </td>
                <td class="col-md-2">{{getApplicationStartTime ../applications applicationId}}</td>
                <td class="col-md-7">{{
                  getPlanTaskAssignments this ../userId ../applications applicationId
                  }}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
