
<div>
    <h1>{{application.name.first}} {{application.name.last}}</h1>

    <h3>Status: <a href="#" id="status" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="status" data-title="Select status"></a></h3>

    <!--VETTING NOTES-->
    <div id="vetAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="vettingHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#vetAccordion" href="#vetting" aria-expanded="true" aria-controls="vetting">
                        Vetting Notes
                    </a>
                </h2>
            </div>
            <div id="vetting" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vettingHeader">
                <table class="table table-striped">
                    <tr>
                        <td>11/1/2016</td>
                        <td> This is an example of where vetting agent notes would appear.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--CONTACT INFO-->
    <div id="contactAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="contactHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#contactAccordion" href="#contact" aria-expanded="true" aria-controls="contact">
                        Contact Information
                    </a>
                </h2>
            </div>
            <div id="contact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="contactHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            <a id="name" href="#" data-type="name" data-pk="1" data-url="/edit/name/{{_id}}" data-title="Enter Name"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Preferred Name</td>
                        <td><a href="#" id="pref_name" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.name.preferred" data-title="Enter Preferred Name">{{application.name.preferred}}</a></td>
                    </tr>
                    <tr>
                        <!-- TODO: id="phone_number" incorrect? correct? -->
                        <td>Preferred Phone</td>
                        <td><a href="#" id="phone_number" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.phone.preferred" data-title="Enter Preferred Phone Number">{{application.phone.preferred}}</a></td>
                    </tr>
                    <tr>
                        <!-- TODO: id="cell_phone" incorrect? correct? -->
                        <td>Other Phone</td>
                        <td><a href="#" id="cell_phone" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.phone.other" data-title="Enter Other Phone Number">{{application.phone.other}}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <a id="address" href="#" data-type="address" data-pk="1" data-url="/edit/address/{{_id}}" data-title="Enter Address"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td><a href="#" id="dob" data-type="date" data-pk="1" data-url="/edit/{{_id}}" data-name="application.dob.date" data-title="Select date">{{application.dob.date}}</a></td>
                    </tr>
                    <tr>
                        <td>Married</td>
                        <td>
                            <a href="#" id="marital_status" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="application.is_married" data-title="Select Marital Status"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spouse</td>
                        <td>
                            <a href="#" id="spouse" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.spouse" data-title="Enter Spouse Name">{{application.spouse}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="#" id="email" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.email" data-title="Enter Email">{{application.email}}</a></td>
                    </tr>
                    <tr>
                        <td>Driver's License</td>
                        <td><a href="#" id="driver_license" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.driver_license.number" data-title="Enter Driver's License Number">{{application.driver_license.number}}</a></td>
                    </tr>
                    <tr>
                        <td>Emergency Contact</td>
                        <td>Name: <a href="#" id="emergency_name" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.emergency_contact.name" data-title="Enter Emergency Contact Name">{{application.emergency_contact.name}}</a>
                            <br>
                            Relationship: <a href="#" id="emergency_relation" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.emergency_contact.relationship" data-title="Enter Emergency Contact Relationship">{{application.emergency_contact.relationship}}</a>
                            <br>
                            Phone: <a href="#" id="emergency_phone" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="application.emergency_contact.phone" data-title="Enter Emergency Contact Phone Number">{{application.emergency_contact.phone}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td>{{application.language}}</td>
                    </tr>
                    <tr>
                        <td>Veteran</td>
                        <td>
                            <a href="#" id="veteran" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="application.veteran" data-title="Select Veteran Status"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Owns Home</td>
                        <td>
                            <a href="#" id="owns_home" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="application.owns_home" data-title="Select Home Ownership Status"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Special Circumstances</td>
                        <td>
                            <a href="#" id="special_circumstances" data-type="textarea" data-pk="1" data-url="/edit/{{_id}}" data-name="application.special_circumstances.note" data-title="Enter Special Circumstances">{{application.special_circumstances.note}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--WORK ITEMS-->
    <div id="workAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="propHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#workAccordion" href="#work" aria-expanded="true" aria-controls="work">
                        Work Items
                    </a>
                </h2>
            </div>
            <div id="work" class="panel-collapse collapse" role="tabpanel" aria-labelledby="workHeader">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Request</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Fix-it</td>
                        <td> This is an example of a work request entered by the agent visiting the home.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--PROPERTY ITEMS-->
    <div id="propAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="propHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#propAccordion" href="#prop" aria-expanded="true" aria-controls="prop">
                        Property Information
                    </a>
                </h2>
            </div>
            <div id="prop" class="panel-collapse collapse" role="tabpanel" aria-labelledby="propHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Home Type</td>
                        <td><a href="#" id="home_type" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.home_type" data-title="Enter Home Type">{{property.home_type}}</a></td>
                    </tr>
                    <tr>
                        <td>Length of Ownership</td>
                        <td><a href="#" id="ownership_length" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.ownership_length" data-title="Enter Ownership Length">{{property.ownership_length}}</a></td>
                    </tr>
                    <tr>
                        <td>Year Constructed</td>
                        <td><a href="#" id="year_constructed" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.year_constructed" data-title="Enter Year Constructed">{{property.year_constructed}}</a></td>
                    </tr>
                    <tr>
                        <td>Requested Repairs</td>
                        <td><a href="#" id="requested_repairs" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.requested_repairs" data-title="Enter Requested Repairs">{{property.requested_repairs}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--FINANCIAL INFO-->
    <div id="financeInfoAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="financeInfoHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#financeInfoAccordion" href="#financeInfo" aria-expanded="true" aria-controls="financeInfo">
                        Financial Information
                    </a>
                </h2>
            </div>
            <div id="financeInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="financeInfoHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Mortgage Payment</td>
                        <td><a href="#" id="mortgage_payment" data-type="number" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.mortgage.payment" data-title="Enter Mortgage Payment">{{finance.mortgage.payment}}</a></td>
                    </tr>
                    <tr>
                        <td>Mortgage Up-to-Date</td>
                        <td><a href="#" id="mortgage" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.mortgage.up_to_date" data-title="Is Mortgage Up-to-Date?"></a></td>
                    </tr>
                    <tr>
                        <td>Income Amount</td>
                        <td><a href="#" id="income" data-type="number" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.income.amount" data-title="Enter Income">{{finance.income.amount}}</a></td>
                    </tr>
                    <tr>
                        <td>Client Can Contribute</td>
                        <td>
                            <a href="#" id="f_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.client_can_contribute.value" data-title="Can Client Contribute Financially?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Client Contribution</td>
                        <td><a href="#" id="f_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.client_can_contribute.description" data-title="Enter Contribution Description">{{property.client_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Associates Can Contribute</td>
                        <td>
                            <a href="#" id="f_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.associates_can_contribute.value" data-title="Can Associates Contribute Financially?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Associate Contribution</td>
                        <td><a href="#" id="f_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.associates_can_contribute.description" data-title="Enter Contribution Description">{{property.associates_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Requested Other Help</td>
                        <td><a href="#" id="request_help" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.requested_other_help.value" data-title="Client Requested Other Help?"></a></td>
                    </tr>
                    <!--TODO: Figure out Assets-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--LABOR HELP-->
    <div id="laborAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="laborHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#laborAccordion" href="#labor" aria-expanded="true" aria-controls="labor">
                        Labor Assistance Information
                    </a>
                </h2>
            </div>
            <div id="labor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="laborHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Client Can Contribute</td>
                        <td>
                            <a href="#" id="l_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="property.client_can_contribute.value" data-title="Can Client Contribute Labor?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Client Contribution</td>
                        <td><a href="#" id="l_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.client_can_contribute.description" data-title="Enter Contribution Description">{{property.client_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Associates Can Contribute</td>
                        <td>
                            <a href="#" id="l_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="property.associates_can_contribute.value" data-title="Can Associates Contribute Labor?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Associate Contribution</td>
                        <td><a href="#" id="l_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.associates_can_contribute.description" data-title="Enter Contribution Description">{{finance.associates_can_contribute.description}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--PROPERTY ITEMS-->
    <div id="propAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="propHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#propAccordion" href="#prop" aria-expanded="true" aria-controls="prop">
                        Property Information
                    </a>
                </h2>
            </div>
            <div id="prop" class="panel-collapse collapse" role="tabpanel" aria-labelledby="propHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Home Type</td>
                        <td><a href="#" id="home_type" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.home_type" data-title="Enter Home Type">{{property.home_type}}</a></td>
                    </tr>
                    <tr>
                        <td>Length of Ownership</td>
                        <td><a href="#" id="ownership_length" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.ownership_length" data-title="Enter Ownership Length">{{property.ownership_length}}</a></td>
                    </tr>
                    <tr>
                        <td>Year Constructed</td>
                        <td><a href="#" id="year_constructed" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.year_constructed" data-title="Enter Year Constructed">{{property.year_constructed}}</a></td>
                    </tr>
                    <tr>
                        <td>Requested Repairs</td>
                        <td><a href="#" id="requested_repairs" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.requested_repairs" data-title="Enter Requested Repairs">{{property.requested_repairs}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--FINANCIAL INFO-->
    <div id="financeInfoAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="financeInfoHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#financeInfoAccordion" href="#financeInfo" aria-expanded="true" aria-controls="financeInfo">
                        Financial Information
                    </a>
                </h2>
            </div>
            <div id="financeInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="financeInfoHeader">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Mortgage Payment</td>
                        <td><a href="#" id="mortgage_payment" data-type="number" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.mortgage.payment" data-title="Enter Mortgage Payment">{{finance.mortgage.payment}}</a></td>
                    </tr>
                    <tr>
                        <td>Mortgage Up-to-Date</td>
                        <td><a href="#" id="mortgage" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.mortgage.up_to_date" data-title="Is Mortgage Up-to-Date?"></a></td>
                    </tr>
                    <tr>
                        <td>Income Amount</td>
                        <td><a href="#" id="income" data-type="number" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.income.amount" data-title="Enter Income">{{finance.income.amount}}</a></td>
                    </tr>
                    <tr>
                        <td>Client Can Contribute</td>
                        <td>
                            <a href="#" id="f_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.client_can_contribute.value" data-title="Can Client Contribute Financially?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Client Contribution</td>
                        <td><a href="#" id="f_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.client_can_contribute.description" data-title="Enter Contribution Description">{{property.client_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Associates Can Contribute</td>
                        <td>
                            <a href="#" id="f_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.associates_can_contribute.value" data-title="Can Associates Contribute Financially?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Associate Contribution</td>
                        <td><a href="#" id="f_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.associates_can_contribute.description" data-title="Enter Contribution Description">{{property.associates_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Requested Other Help</td>
                        <td><a href="#" id="request_help" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="finance.requested_other_help.value" data-title="Client Requested Other Help?"></a></td>
                    </tr>
                <!--TODO: Figure out Assets-->
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--LABOR HELP-->
    <div id="laborAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="laborHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#laborAccordion" href="#labor" aria-expanded="true" aria-controls="labor">
                        Labor Assistance Information
                    </a>
                </h2>
            </div>
            <div id="labor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="laborHeader">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Client Can Contribute</td>
                        <td>
                            <a href="#" id="l_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="property.client_can_contribute.value" data-title="Can Client Contribute Labor?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Client Contribution</td>
                        <td><a href="#" id="l_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.client_can_contribute.description" data-title="Enter Contribution Description">{{property.client_can_contribute.description}}</a></td>
                    </tr>
                    <tr>
                        <td>Associates Can Contribute</td>
                        <td>
                            <a href="#" id="l_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{_id}}" data-name="property.associates_can_contribute.value" data-title="Can Associates Contribute Labor?"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Associate Contribution</td>
                        <td><a href="#" id="l_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{_id}}" data-name="property.associates_can_contribute.description" data-title="Enter Contribution Description">{{finance.associates_can_contribute.description}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--FINANCIAL REQS-->
    <div id="financeAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="financeHeader">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#financeAccordion" href="#finance" aria-expanded="true" aria-controls="finance">
                        Financial Requirements
                    </a>
                </h2>
            </div>
            <div id="finance" class="panel-collapse collapse" role="tabpanel" aria-labelledby="financeHeader">
                <p>This section is for verifying that all required financial documents have been collected.</p>
            </div>
        </div>
    </div>

    <a href="/view">Back</a>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/javascript/xedit.js" type="text/javascript"></script>

<script>
    /**
     * Some inline-editable fields require data from the DB to properly work
     *  They are defined here instead of a seperate file since it needs access
     *  to the handlebars template system
     */
    $(document).ready(function() {
        $('#address').editable({
            value: {
                line_1: '{{application.address.line_1}}',
                line_2: '{{application.address.line_2}}',
                city: '{{application.address.city}}',
                state: '{{application.address.state}}',
                zip: '{{application.address.zip}}'
            }
        });

        $('#name').editable({
            value: {
                first: '{{application.name.first}}',
                middle: '{{application.name.middle}}',
                last: '{{application.name.last}}'
            }
        });

        $('#marital_status').editable({
            value: '{{application.is_married}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#veteran').editable({
            value: '{{application.veteran}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#mortgage').editable({
            value: '{{finance.mortgage.up_to_date}}',
            source:
                    [
                        {value: 'true', text: 'True'},
                        {value: 'false', text: 'False'}
                    ]
        });

        $('#mortgage').editable({
            value: '{{finance.mortgage.up_to_date}}',
            source:
                    [
                        {value: 'true', text: 'True'},
                        {value: 'false', text: 'False'}
                    ]
        });

        $('#status').editable({
            value: '{{status}}',
            source:
                    [
                        {value: 'new', text: 'NEW'},
                        {value: 'phone', text: 'Phone Call Needed'},
                        {value: 'documents', text: 'Awaiting Documents'},
                        {value: 'discuss', text: 'On Hold - Pending Discussion'},
                        {value: 'visit', text: 'Site Assessment'}, //TODO: Change to assess
                        {value: 'handle', text: 'Handle-It'},
                        {value: 'declined', text: 'Declined'},
                        {value: 'approval', text: 'Approval Process'},
                        {value: 'withdrawn', text: 'Withdrawn'},
                        {value: 'project', text: 'Approved Project'}
                    ]
        });

        $('#owns_home').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_client_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_associate_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_client_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_associate_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#request_help').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_client_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_associate_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_client_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_associate_can_contrib').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#request_help').editable({
            value: '{{application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });
    });

</script>